main {
	margin: 2px;
}

.page-title {
	color: cadetblue;
	font-size: 50px;
}

.log-page-title {
	color: cadetblue;
}

.userColor {
	color: cadetblue;
}

.regBody {
	background-color: rgb(196, 202, 202);
	font-family: "Raleway", sans-serif;
}

.logBody {
	background-color: rgb(196, 202, 202);
	font-family: "Raleway", sans-serif;
}

.index-para {
	font-size: 20px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	color: rgb(143, 142, 142);
}
